{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% block nav-breadcrumbs %}{% endblock %}
{% block nav-sidebar %}{% endblock %}
{% block content %}
    <h2>Upload Tour Data</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="excel_file">Choose Excel File:</label>
      <input type="file" name="excel_file" accept=".xlsx">
      <button type="submit">Upload</button>
    </form>
{% endblock %}
